.gridFront { 
	margin:1em; 
	border-collapse:collapse; 
    position:absolute;
    right: 400px;
}
.gridFront td {
    cursor:pointer;
    width:50px; height:50px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.gridFront td.clicked {
    background-color:lightgreen;
    border-color:red;
}

.gridBack { 
	margin:1em; 
	border-collapse:collapse; 
	position:absolute;
	right: 70px;
	top: 100px;
}
.gridBack td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.gridBack td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}

.gridSelect { 
	margin:1em; 
	border-collapse:collapse; 
    position:absolute;
	left: 70px;
	top: 10px;
}
.gridSelect td {
    cursor:pointer;
    width:40px; height:40px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.gridSelect td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}

.gridSelect img {
    width: 40px;
    height: 40px;
}

.gridBack img {
    width: 30px;
    height: 30px;
}

.gridFront img {
    width: 50px;
    height: 50px;
}

.gridSelect td:hover,.gridFront td:hover{
    border-color: blue;
    border-width: 2px;
}